:host {
  display: grid;
  grid-template-columns:123px 1fr;
  grid-gap: 32px;
  padding-bottom: 16px;
  border-bottom: 1px solid var(--light-color);
}

.avatar {
  width: 123px;
  height: 123px;
  border-radius: 50%;
}

.dropzone {
  border-radius: 2px;
  border: 1px dashed var(--light-color);
  padding: 16px;
  display: grid;
  place-content: center;
}

.dropzone-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  svg {
    color: var(--light-color);
    width: 14px;
    height: 14px;
    margin-bottom: 18px;
  }
}

.avatar-input {
  display: none;
}