:host {
  display: block;
  padding: 20px 12px;
}

.main-menu-list {
  display: grid;
  grid-gap: 8px;
  list-style: none;
}

.menu-item {
  display: grid;
  grid-gap: 12px;
  grid-template-columns: 16px 1fr max-content;
  padding: 16px 12px;
  border: none;
  background: none;
  color: var(--light-color);
  cursor: pointer;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  align-items: center;
  width: 100%;
  text-align: left;
  border-radius: 2px;

  &:hover,
  &:focus-visible {
    background: var(--dark-hover-color);
    color: var(--primary-color);

    .menu-item svg {
      color: var(--primary-color);
    }
  }
}

.menu-item svg {
  width: 16px;
  height: 16px;
}

.to-subscribers {
  display: flex;
  gap: 10px;
  align-items: center;
}

.to-subscribers-link {
  text-decoration: none;
  color: var(--primary-color);
}

.to-subscribers-icon {
  width: 16px;
  height: 16px;
  color: var(--primary-color);
}