@import 'fonts';
@import 'margins';

:root {
  --dark-color: #000;
  --light-color: #fff;
  --primary-color: #ae7aff;
  --secondary-color: #00ff00;
  --gray-color: #5f646d;
  --dark-hover-color: #161616;
  --light-transparent-color: rgba(255, 255, 255, 0.75);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100dvh;
  background: var(--dark-color);
  color: var(--light-color);
  font-family: 'JatBrains Mono', sans-serif;
  background-image: url(/assets/images/background.jpg);
  background-size: cover;
}

.skill-tag {
  display: inline;
  background: var(--dark-color);
  color: var(--light-color);
  padding: 0 8px;
  border-radius: 4px;
  border: 1px solid var(--light-color);
  font-size: 12px;
  line-height: 24px;
  text-align: center;
  font-weight: 700;
  height: 24px;
}

.btn {
  border: none;
  background: var(--primary-color);
  color: var(--dark-color);
  padding: 10px 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  width: 100%;
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid var(--dark-color);
}

.btn-shadow {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    bottom: -4px;
    right: -4px;
    background: var(--gray-color);
    width: 100%;
    height: 100%;
    z-index: -1;
    border-radius: 4px;
  }
}

.h1 {
  font-size: 48px;
  line-height: 56px;
  font-weight: 800;
}

.h4 {
  font-size: 24px;
  line-height: 32px;
  font-weight: 800;
}

.h6 {
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
}

.subtitle {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}

.medium-text {
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
  font-family: 'JatBrains Mono', sans-serif;
}

.regular {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  font-family: 'JatBrains Mono', sans-serif;
}

.tt-control-label {
  display: block;
  font-size: 12px;
  line-height: 16px;
  font-weight: 700;
}

.tt-input {
  width: 100%;
  margin-top: 8px;
  padding: 12px 20px;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  font-family: 'JatBrains Mono', sans-serif;
  border-radius: 5px;
  border: 1px solid var(--light-color);
  background: var(--dark-color);
  color: var(--light-color);
}

.tt-form-input {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  background: none;
  border: none;
  border-bottom: 1px solid var(--light-color);
  height: 32px;
  color: var(--light-color);

  &:focus-visible {
    // outline: 1px solid var(--primary-color);
    border-bottom: 2px solid var(--primary-color);
  }
}

.tt-form-label__text {
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  color: var(--light-transparent-color);
}

.tt-form-label {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.tt-textarea {
  height: 84px;
  resize: none;
}