@import 'fonts';

:root {
  --dark-color: #000;
  --light-color: #fff;
  --primary-color: #ae7aff;
  --secondary-color: #00ff00;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--dark-color);
  color: var(--light-color);
  font-family: 'JatBrains Mono', sans-serif;
}

.skill-tag {
  display: inline;
  background: var(--dark-color);
  color: var(--light-color);
  padding: 0 8px;
  border-radius: 4px;
  border: 1px solid var(--light-color);
  font-size: 12px;
  line-height: 24px;
  text-align: center;
  font-weight: 700;
  height: 24px;
}

.btn {
  border: none;
  background: var(--primary-color);
  color: var(--dark-color);
  padding: 10px 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
}

.h6 {
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
}

.subtitle {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}
